{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_set.css' %}">
{% endblock style %}
{% block title %}Register{% endblock title %}

{% block content %}
    <div class="form-container">
        <img class="twitter-logo" src="{% static 'accounts/images/twitter_logo.png' %}" alt="twitter-logo">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Next">
        </form>
    </div>
{% endblock content %}