{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock style %}
{% block title %}Register{% endblock title %}

{% block content %}
    <div class="form-container">
        <img class="twitter-logo" src="{% static 'accounts/images/twitter_logo.png' %}" alt="twitter-logo">
        <h1>Sign up to Twitter</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Next">
        </form>
        <div class="other-options">
            <a href="#">Reset password?</a>
            <a href="{% url 'accounts:login' %}">Sign in to Twitter</a>
        </div>
    </div>
{% endblock content %}